.marketplace {
    text-align: center;
    padding: 20px;
}
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#brandFilter, #sizeFilter, #newFilter{
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.bid {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bid h2 {
    color: black;
    font-size: 24px;
}

.bid-details {
    margin-top: 20px;
}

.bid-details .bidd1 {
    font-size: 18px;
    color: black;
}

.bid-details .bidd{
    color: grey;
}

.top-selling{
    margin-top: 100px;
    margin-bottom: 100px;
}

.SlideTrack button{
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

.SlideTrack button:hover{
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.SliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.Slidr {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.SlideTrack {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: transform 0.4s ease-in-out;
}

.sneakr {
    flex: 0 0 250px; /* Fixed width for each item */
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 4px 6px 3px rgba(0, 0, 0, 0.1);
    color: black;
}

.sneakr img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.sneakr:hover{
    cursor: pointer;
    box-shadow: 2px 2px 6px 5px rgb(86, 86, 86);
    transform: scale(1.05);
}

.sneakr p{
    font-weight: bold;
}

.SliderContainer{
    position: relative;
}

.mini-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mini-header p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(204, 15, 15);
}

.Buttons{
    display: flex;
    justify-content: center;
}

.Buttons button{
    width: 50px;
    height: 40px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.Buttons .prevButn{
    background-color: black;
    color: white;
    margin-left: 20px;
}

.Buttons .nextButn{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-right: 20px;
}

.Buttons .prevButn:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}

.Buttons .nextButn:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 1250px){
    .SliderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%; /* Adjust as needed */
        margin: auto;
        overflow: hidden;
    }
    
    .Slidr {
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    
    .SlideTrack {
        display: flex;
        gap: 20px;
        align-items: center;
        transition: transform 0.4s ease-in-out;
    }
    
    .sneakr {
        flex: 0 0 250px; /* Fixed width for each item */
        text-align: center;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: black;
    }
    
    .sneakr img {
        width: 60%;
        height: auto;
        border-radius: 5px;
    }
}