.Men-Shoes{
    margin-top: 10%;
}

.Women-Shoes h1{
    text-align: center;
}

.Kids-Shoes h1{
    text-align: center;
}

.Men-Shoes h1{
    text-align: center;
}
.SliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.Slidr {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.SlideTrack {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: transform 0.4s ease-in-out;
}

.sneakr {
    flex: 0 0 250px; /* Fixed width for each item */
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}

.sneakr img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.sneakr:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px black;
    transform: scale(1.05);
}

.sneakr p{
    font-weight: bold;
}

.SliderContainer{
    position: relative;
}

.mini-header{
    display: flex;
    justify-content: space-between;
}

.mini-header p{
    font-weight: bold;
    font-size: 20px;
}

.But{
    display: flex;
    justify-content: center;
}

.But button{
    width: 50px;
    height: 40px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.But .prevButn{
    background-color: black;
    color: white;
    margin-left: 20px;
}

.But .nextButn{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-right: 20px;
}

.But .prevButn:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}

.But .nextButn:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 1250px){
    .SliderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%; /* Adjust as needed */
        margin: auto;
        overflow: hidden;
    }
    
    .Slidr {
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    
    .SlideTrack {
        display: flex;
        gap: 20px;
        align-items: center;
        transition: transform 0.4s ease-in-out;
    }
    
    .sneakr {
        flex: 0 0 250px; /* Fixed width for each item */
        text-align: center;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: black;
    }
    
    .sneakr img {
        width: 60%;
        height: auto;
        border-radius: 5px;
    }
}